<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Route Search</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='mainPageStyle.css') }}">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link
        href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
        rel="stylesheet"
    />
    <script
        src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js">
    </script>
</head>

<body class="body">

    <div class="mainContainer">

        <div class="inputSection">
            <form method="POST" class="theForm">

                <select id="start" name="start" required></select>

                <select id="end" name="end" required></select>

                <div class="dateTimeContainer">
                    <input
                        type="date"
                        id="date"
                        name="date"
                        required
                    >

                    <input
                        type="time"
                        id="time"
                        name="time"
                        required
                    >
                </div>

                <button type="submit" class="submitButton">
                    Search Route
                </button>

                {% if error %}
                    <p class="errorMessage">{{ error }}</p>
                {% endif %}

                <div class="stationLinesDisplay">
                    {% if startLines %}
                        <h3>{{ request.form.start }}: </h3>
                        <ul class="startStationList">
                            {% for line in startLines %}
                                <li>{{ line }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    {% if endLines %}
                        <h3>{{ request.form.end }}: </h3>
                        <ul class="endStationList">
                            {% for line in endLines %}
                                <li>{{ line }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>


            </form>
        </div>

        <div class="outputSection">
            <p>PLACEHOLDER</p>
        </div>

    </div>

    <button class="updateButton">Update</button>

    <script src="{{ url_for('static', filename='mainPageScript.js') }}"></script>
</body>
</html>