<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/update.css') }}">
    <script src="{{ url_for('static', filename='js/updatePage.js') }}"></script>

</head>
<body>

    <div class="mainContainer">

        <div class="updatePageContainer">

            <form method="POST" class="updateForm">
                <div class="parameterTable">
                    <table>
                        <tr>
                            <td><label for="param1">Time taken to change trains:</label></td>
                            <td><input type="number" id="param1" name="param1" value="{{ CHANGING_TIME }}" required></td>
                        </tr>
                        <tr>
                            <td><label for="param2">Length of effect of event:</label></td>
                            <td><input type="number" id="param2" name="param2" value="{{ MAX_TIME_WINDOW }}" required></td>
                        </tr>
                        <tr>
                            <td><label for="param3">Peak offset before the game (minutes):</label></td>
                            <td><input type="number" id="param3" name="param3" value="{{ rawArrivalPeakOffset }}" required></td>
                        </tr>
                        <tr>
                            <td><label for="param4">Peak offset after the game (minutes):</label></td>
                            <td><input type="number" id="param4" name="param4" value="{{ rawDeparturePeakOffset }}" required></td>
                        </tr>
                        <tr>
                            <td><label for="param5">Match attendance (%):</label></td>
                            <td><input type="number" id="param5" name="param5" value="{{ ATTENDANCE }}" required></td>
                        </tr>
                        <tr>
                            <td><label for="param6">Proportion of people using TfL rail:</label></td>
                            <td><input type="number" id="param6" name="param6" value="{{ TRAIN_PROPORTION }}" required></td>
                        </tr>
                        <tr>
                            <td><label for="param7">Sigma factor for calculating initial crowding:</label></td>
                            <td><input type="number" id="param7" name="param7" value="{{ SIGMA_FACTOR }}" required></td>
                        </tr>
                        <tr>
                            <td><label for="param8">Minimum people needed for effect:</label></td>
                            <td><input type="number" id="param8" name="param8" value="{{ MINIMUM_PEOPLE }}" required></td>
                        </tr>
                        <tr>
                            <td><label for="param9">Delay per person:</label></td>
                            <td><input type="number" id="param9" name="param9" value="{{ PERSON_DELAY }}" required></td>
                        </tr>
                        <tr>
                            <td><label for="param10">People dropped off per hop (%):</label></td>
                            <td><input type="number" id="param10" name="param10" value="{{ PROPAGATION_FACTOR }}" required></td>
                        </tr>
                        <tr>
                            <td><label for="param11">Average walking distance walking time:</label></td>
                            <td><input type="number" id="param11" name="param11" value="{{ WALKING_TIME }}" required></td>
                        </tr>
                        <tr>
                            <td><label for="param12">Average walking speed:</label></td>
                            <td><input type="number" id="param12" name="param12" value="{{ WALKING_SPEED }}" required></td>
                        </tr>
                        <tr>
                            <td><label for="param13">Max crowding factor threshold for normal crowding:</label></td>
                            <td><input type="number" id="param13" name="param13" value="{{ NORMAL }}" required></td>
                        </tr>
                        <tr>
                            <td><label for="param14">Max crowding factor threshold for slight levels of crowding:</label></td>
                            <td><input type="number" id="param14" name="param14" value="{{ SLIGHTLY }}" required></td>
                        </tr>
                        <tr>
                            <td><label for="param15">Max crowding factor threshold for busy:</label></td>
                            <td><input type="number" id="param15" name="param15" value="{{ BUSY }}" required></td>
                        </tr>
                    </table>
                </div>

                <div class="buttonSection">
                    <div class="buttonGroup">
                        <button type="button" class="actionButton" name="loadDefault">Load Default Values</button>

                        <button type="button" class="actionButton" name="save">Save</button>

                        <button type="button" class="actionButton" name="new">Fetch New Data</button>

                        <button type="button" class="actionButton" name="logOut">Log Out</button>
                    </div>
                </div>

            </form>

        </div>

    </div>

</body>
</html>